.thumbnail img { width:300px!important; height:180px!important; }

.mainContainer{
    margin-top: 20px;
}

#canvasRenderStage{
    width:100%;
    border-radius: 25px;
    background-color:black
}

.uploadImage{
    margin-left: auto;
    margin-right: auto;
}

#playBackControls a{
    font-size: 30px;
}

.playBackControls{
    margin-bottom: 20px;
}

body{
    background: url('../assets/emojiBackground.png'), 
    linear-gradient(to bottom right, #ff69b496, #ff14939e);
}

.previewBox{
    padding-top:20px;
    background-color: #0000005e;
    border: 2px solid #ddd;
    border-radius: 25px;
}

.imageContainer{
    margin-top:50px;
}

.progressBarSaving{
    margin-bottom: 0px;
    height: 35px;
}

.progressBarSaving .progress-bar{
    padding-top:7px;
    font-size: 15px;
    font-weight: 1000;
    color:yellow;
}

.renderContainer{
    margin: 0;
    padding: 0;
}

.headerText, .descriptionText{
    font-weight: 1000;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.notCompatibleContainer{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
}